
.header{
    text-align: right;
    padding: 50px;
}

.header a{
    margin: 0 20px;
    text-decoration: none;
    color: orange;
    font-weight: bolder;
}

.btnEntrar{
    padding: 10px 30px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
    transition: .7s all;
}

.btnEntrar:hover{
    background-color: orange;
    color: white;
    border: 2px solid orange;
}